.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p {
    margin: 10px;
}

.fa-small {
    font-size: 13px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 170px;
}